@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
layer(base);

@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);
  --color-secondary2-color: var(--secondary2-color);
  --color-danger-color: var(--danger-color);
  --color-warning-color: var(--warning-color);
  --color-teal-color-light: var(--teal-color-light);
  --color-teal-color: var(--teal-color);
  --color-prestige-green: var(--prestige-green);
  --color-tricorn-black: #2f2e30;
  --color-gray-secondary: #808080;

  --breakpoint-sm-ex: 440px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility container {
  @apply px-6 max-w-[1218px] mx-auto;
}



@layer utilities {
  :root {
    --primary-color: #000000;
    --secondary-color: #f5f5f5;
    --secondary2-color: #fafafa;
    --danger-color: #db4444;
    --warning-color: #ffad33;
    --teal-color-light: #eeff61;
    --teal-color: #00ff66;
    --prestige-green: #184a48;
  }
}

@layer base {
  body {
    @apply font-body text-primary-color min-w-80;
  }

  h1,
  .h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl xl:leading-[60px] font-semibold font-inter text-secondary2-color tracking-wide;
  }
  h2,
  .h2 {
    @apply text-3xl lg:text-4xl lg:leading-[48px] font-semibold font-inter tracking-wider;
  }
  h3,
  .h3 {
    @apply text-lg lg:text-2xl lg:leading-6 font-inter font-semibold tracking-wide text-secondary2-color;
  }
  h4,
  .h4 {
    @apply text-base lg:text-xl font-medium font-body text-secondary2-color mb-6;
  }
  h5,
  .h5 {
    @apply text-sm lg:text-base;
  }
  h6,
  .h6 {
    @apply text-xs font-medium mb-1;
  }
}

@layer components{
  .nav-item {
    @apply text-base font-normal px-4 py-2 cursor-pointer decoration-2 decoration-primary-color/30 underline-offset-4 hover:underline transition-all duration-700;
  }
  .sub-title {
    @apply relative text-base leading-5 font-semibold text-danger-color pl-8 before:absolute before:-top-2 before:-bottom-2 before:left-0 before:w-5 before:rounded-sm before:bg-danger-color;
  }
  .time {
    @apply text-[32px] leading-[30px] font-bold font-inter tracking-wide;
  }

  .btn{
    @apply px-12 py-4 rounded-sm text-secondary2-color hover:opacity-70 transition-all duration-500 ;
  }
}

button{
  @apply cursor-pointer
}
/* Slider */

.swiper-pagination-bullet {
  @apply bg-white/50 size-3 opacity-100;
}

.swiper-pagination-bullet-active {
  @apply bg-danger-color! size-[14px] border-2 border-white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply content-[''];
}

.swiper-button-next svg,
.swiper-button-prev svg {
  @apply w-[60%];
}

.swiper-button-prev {
  @apply -top-16 right-[3.25rem] left-auto z-50;
}
.swiper-button-next {
  @apply -top-16 right-0 z-50;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-black;
}
